{% extends 'base.html.twig' %}
{% block title %}
	{{ parent() }}
	- Home
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block body %}
    <div>
        <h1>Hello!✅</h1>
    </div>
{% endblock
%}
