<div>
	<label for="height">Height</label>
	<input type="text" id="height" name="height">

	<label for="width">Width</label>
	<input type="text" id="width" name="width">

	<label for="depth">Depth</label>
	<input type="text" id="depth" name="depth">

	<button id="search">Search</button>

</div>

<ul id="resultList"></ul>
