{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
<style>
    .pink-stripe {
        height: 50vh;
        width: 100%;
        display: flex;
        font-family: 'Varela Round', sans-serif;
        font-size: 3rem;
        align-items: center;
        justify-content: center;
    }

    .white-stripe {
        background-color: white;
        width: 100vw;
        height: 50vh;
        display: flex;
        position: fixed;
        bottom: 0;
        align-items: center;
        justify-content: center;
    }
</style>
{% endblock %}

{% block body %}
<div class="pink-stripe">
    <h1>
        Let's start coding &#129304;
    </h1>
</div>
<div class="white-stripe ">
    <img src="https://medinsoft.com/wp-content/uploads/2020/01/LOGO_WILDCODESCHOOL1000-1024x1024.png"
        style="height:100%">
</div>
{% endblock %}