{% extends 'base.html.twig' %}
{% block title %}
	{{ parent() }}
	- Accueil
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="preconnect" href="https://fonts.googleapis.com"/>
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
{% endblock %}
{% block body %}
	<h1 class="text-center text-2xl sm:text-4xl mb-6">Recherche de meubles<br>par dimensions</h1>
	{% include "home/_searchForm.html.twig" %}
{% endblock
%}
