{% extends 'base.html.twig' %}
{% block title %}
	{{ parent() }}
	- Accueil
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block body %}
	<div class="flex flex-col justify-start content-start mt-10 rounded-xl bg-no-repeat bg-fixed bg-cover w-full bg-[url('/assets/images/index.jpg')]" >
		<div class="relative py-3 sm:max-w-xl sm:mx-auto w-full ">
			<div class="relative px-4 bg-stone-200 shadow-lg rounded-md p-5 bg-clip-padding bg-opacity-10  border border-gray-200 scroll-smooth"  style="backdrop-filter: blur(20px);">
				<div class="max-w-md mx-auto  w-10/12">
					{% include "home/_searchForm.html.twig" %}
				</div>
			</div>
		</div>
		<div class="relative py-3 sm:max-w-xl sm:mx-auto w-full mt-24 popup" id="popup">
			<div class="relative px-4 w-8/12 py-10 bg-stone-200 shadow-lg rounded-xl p-20 bg-clip-padding bg-opacity-10 border border-gray-200 mx-auto" style="backdrop-filter: blur(20px);">
				<div class="max-w-md mx-auto w-10/12 text-4xl">
					<h1>Trouvez le meuble parfait.</h1>
					<div class="divide-y divide-black">
						<div class="py-8 leading-6 space-y-4 text-white sm:text-lg sm:leading-7 text-3xl tracking-wider font-light">
							<ul class="list-disc space-y-2">
								<li class="flex items-start">
									<p class="ml-2">On cherche pour vous.</p>
								</li>
								<li class="flex items-start">
									<p class="ml-2">Gratuitement.</p>
								</li>
							</ul>
						</div>
						<div class="pt-6 text-base leading-6 font-bold sm:text-lg sm:leading-7">
							<a href="{{ path('product_search') }}">
								<p class="flex items-start ml-2 text-primary-light">
									C'est parti !
								</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
	const popup = document.getElementById('popup');
		window.addEventListener("scroll", function(){
			const scrollValue = (window.innerHeight + this.window.scrollY) / document.body.offsetHeight;
			//Apparition tuile
			if(scrollValue > 0.72){
				popup.style.opacity = '1';
			}
		})
	</script>
	{% endblock %}





