{% extends 'base.html.twig' %}
{% block title %}
	{{ parent() }}
	- Recherche
{% endblock %}
{% block header %}
	{% include
"home/_searchBar.html.twig" %}
{% endblock %}
{% block body %}
	<div id="productContainer" class="max-w-screen-xl mx-auto my-8 py-8 px-5 sm:px-12 sm:relative sm:bottom-4 bg-white lg:mx-auto lg:px-16 xl:px-5 lg:rounded-lg"></div>
{% endblock %}
