<form method="post" action="{{ path('product_delete', {'id': product.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce produit ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button class="mx-auto mt-10 w-5/6 bg-red border border-transparent rounded-md py-3 px-8 flex items-center justify-center text-base font-medium text-white"><img class="w-3/12" src="{{ asset('build/images/trash.png') }}"> - Supprimer</button>
</form>
