{% extends 'base.html.twig' %}

{% block title %}Product search
{% endblock %}

{% block body %}
	{{ include('product/_form_search.html.twig') }}

	{% if products is defined %}
		{% for product in products %}
			<li>{{product.name}}</li>
		{% endfor %}

	{% endif %}
{% endblock %}
