@import 'variables.scss';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.product_container {
    align-self: stretch;
}

.active {
    background-color: $primary-color;
    color: white;
}

.paginationBtn {
    width: 40px;
}
