@import 'variables';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'Modern No. 20';
    font-style: normal;
    font-weight: 400;
    src: local('Modern No. 20'), url('https://fonts.cdnfonts.com/s/13036/MOD20.woff') format('woff');
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Modern No. 20';
}

.product_container {
    align-self: stretch;
}

.card-zoom {
    @apply relative flex items-center justify-center m-3 overflow-hidden shadow-xl w-60 h-60 rounded-2xl;
}

.card-zoom-image {
    @apply absolute w-full h-full transition-all duration-500 ease-in-out transform bg-center bg-cover;
}

.card-zoom-text {
    @apply absolute text-sm w-32 text-center font-black transition-all duration-500 ease-in-out transform scale-150 text-black opacity-60 hidden;
}

.card-zoom:hover .card-zoom-image {
    @apply scale-150 opacity-90;
}

.card-zoom:hover .card-zoom-text {
    @apply scale-100;
}

.borderI {
    border-bottom: 1px solid $secondary-color;
    width: 80%;
    margin: auto;
}

.popup{
    opacity: 0;
    transition: .5s ease-out;
}
